/* assets/style.css */
body {
    background-color: #111;
    color: #eee;
  }
  
  .card {
    background-color: #222;
    color: #eee;
}

/* let dropdown menus render above the table */
.dash-table-container .row {
    overflow: visible !important;
}

.Select-menu-outer {
    z-index: 9999;          /* optional, keeps the menu on top */
}
